.react-tabs__tab-list {
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
}

.react-tabs__tab-list {
    border: none;
}

.react-tabs__tab {
    border-bottom: 1px solid #D2D2D2;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 6px 12px 15px;
    font-weight: 700;
    color: #D2D2D2;
}

.react-tabs__tab--selected {
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #FF5734;
    color: #11223F;
}

#agenda .day-plan .section-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    margin-top: 1.6em;
}

#agenda .day-plan .section {
    display: flex;
    border-bottom: 1px solid #FF5734;
    margin-bottom: 1em;
}

#agenda .day-plan .section .name {
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-right: 4em;
    min-width: 40px;
    max-width: 80px;
}

#agenda .day-plan .section .content p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 1em 0;
    padding-right: 1em;
}

#agenda .day-plan .section .content .note {
    text-transform: uppercase;
    font-size: 10px;
}

#agenda .day-plan .section .content .button-secondary {
    margin-bottom: 1.5em;
}