.mobile-menu .menu-icon {
    width: 1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.drawer {
    background-color: #FBF9F7;
    height: 100vh;
    width: 18em;
    list-style: none;
    padding-top: 2em;
}

.drawer hr {
    margin: 0 1em 1em 1em;
    border-color: #FF5734;
}

.desktop-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 1em 0.8em;
}

.desktop-menu li {
    list-style: none;
    display: inline-block;
}

.desktop-menu li a,
.desktop-menu li div {
    margin: 0;
    padding: 0;
}

.desktop-menu span {
    margin: 0 24px;
    font-weight: 300;
    size: 16px;
    line-height: 24px;
    color: #11223F;
}

.desktop-menu .active span {
    color: #FF5734
}