#lang {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    margin: 0.8em 0.5em;
}

#lang span {
    margin: 0 0.5em;
    font-weight: 300;
    size: 16px;
    line-height: 24px;
}

#lang span.current {
    color: #FF5734;
}