#home {
    text-align: center;
    margin-top: 2em;
}

#home .logo {
    height: 20vmin;
    pointer-events: none;
}

#home div {
    margin: 0.5em 0;
}

#home .who {
    font-family: Didot, Didot LT STD, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    margin-top: 0;
}

#home .where {
    line-height: 24px;
    margin: 0 3.5em 1em 3.5em;
}

@media only screen and (min-width: 900px) {
    #home .logo {
        height: 10vmin;
    }
}