#gift .gift-name {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #11223F;
    margin-top: 0.4em;
}

#gift .gift-description {
    margin: 0.6em 0 2em 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #11223F;
}

#gift .main-img {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

#gift .section {
    margin-bottom: 1.5em;
}

#gift .section [class*=gift] {
    margin-bottom: 1.5em;
    line-height: 24px;
}

#gift .money-options {
    border: 1px solid #FF5734;
    text-align: center;
    margin-top: 2em;
}

#gift .money-title {
    font-weight: 700;
    margin-bottom: 0.5em;
}

#gift .money-option {
    margin: 1.5em 0;
}

#gift .money-detail {
    cursor: pointer;
}

#gift .money-detail:hover {
    text-decoration: none;
    background-color: #FF5734;
    color: white;
}

@media only screen and (min-width: 900px) {
    #gift .gift-name {
        font-size: 48px;
        line-height: 56px;
    }

    #gift .main-img {
        all: initial;
        width: 100%;
    }

    #gift .section.text {
        margin: 0 8em;
    }

    #gift .section.money {
        display: flex;
        justify-content: center;
    }

    #gift .money-options {
        padding: 0 3em;
        max-width: 30%;
    }

    #gift .tail {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    #gift .section.text {
        margin: 0 25%;
    }
}
