.App {
  margin: 0 0.8em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  width: 1.2em;
}

.App-header {
  background-color: #FBF9F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #11223F;
}

.App-link {
  color: #11223F;
}

.box {
  width: 18em;
  list-style: none;
  padding-top: 2em;
}

.box hr {
  margin: 0 1em 2em 1em;
  border-color: #FF5734;
}

.lang {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  margin: 0.8em 0.5em;
}

.lang span {
  margin: 0 0.5em;
  font-weight: 400;
}

.lang span.current {
  font-weight: 800;
  color: #FF5734;
}

#home {
  text-align: center;
}

.who {
  font-family: Didot, Didot LT STD, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}

.where {
  line-height: 24px;
  margin: 16px 20%;
}

.title {
  font-family: Didot, Didot LT STD, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  margin: 1em 0
}

#location {
  margin: 0 1em;
}

#location div {
  margin-top: 1.5em;
  line-height: 24px;
}

#location li {
  margin-left: 0.6em;
}

#location li span{
  margin-left: -0.3em;
}