.App {
  margin: 0 0.8em 3em 0.8em;
  color: #11223F;
}

.page {
  margin: 0 1em;
  min-height: calc(100vh - 150px);
}

.page-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF5734;
}

.section-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin-top: 1.6em;
}

.button-secondary {
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 12px !important;
  letter-spacing: 0.02em !important;
  color: #11223F !important;
  border: 1px solid #11223F !important;
  width: 169px !important;
  height: 44px !important;
  border-radius: 0 !important;
  margin: 1.5em 0 !important;
}

@media only screen and (min-width: 900px) {
  .page {
    min-height: calc(100vh - 250px);
  }

  .page {
    margin: 8em 10%;
  }
}